div.card div.card-body .card-title i {
  padding-right: 0.5rem;
}

div.card div.card-body button.btn.btn-primary {
  margin-right: 1rem;
}

div.card div.card-header {
  font-weight:bold;
  background-color:#ffed97;
}
div.card div.card-body .recommendation-group-text {
  font-weight:bold;
  font-size:.8rem;
  margin-bottom:1em;
}