div.timestate {
  padding:0.5rem 1rem;
  background-color:#f0f5ff;
  border:1px solid #cccccf;
  border-radius:5px;
  margin-bottom:0.5rem;
}
.timestate p {margin-top:0.5rem;}
.period {font-size:0.9rem;float:right;}
p.timerange {font-size:0.8rem; color:#333;text-align:right;}
table.table-timeline tbody tr td {border:none;}
table.table-timeline tr.group td {border-top:1px solid #ccc;padding-top:0.5rem}