
div.history-group {
  margin-bottom: 2rem;
  h2 {
    font-size: 1.2rem;
  }

  div button img {
    padding-right: 10px;
    width: 30px;
    height: auto;
  }
  
  div button.link-button {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.25em;
  }
  
}

