div.main {
  background-color:white;
  border:1px solid #999;
  padding:10px 15px;
  a {
    color:#005EA2;
  }
  
  h2 {
    font-weight:700;
    font-size:1.3rem;
  }
}

Button {
  &.nav-link {
    color:#005EA2;
  }
  &.btn-link {
    color:#005EA2;
  }
}
